<div class="card m-2" style="width: 18rem;">
  <img class="card-img-top" src="https://cdnb.artstation.com/p/assets/images/images/008/185/065/large/stefan-s-tavern-1.jpg?1511032695" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tavern</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-outline-secondary btn-lg" id="tavern">Tavern</button>
  </div>
</div>

<div class="card m-2" style="width: 18rem;">
  <img class="card-img-top" src="https://images5.alphacoders.com/708/708438.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Forest</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-outline-secondary btn-lg" id="forest">Forest</button>
  </div>
</div>

<div class="card m-2" style="width: 18rem;">
  <img class="card-img-top" src="http://www.citymetric.com/sites/default/files/article_body_2016/01/wit31.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">City</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-outline-secondary btn-lg" id="city">City</button>
  </div>
</div>

<div class="card m-2" style="width: 18rem;">
  <img class="card-img-top" src="http://www.woodstockproduction.com/shadow%20of%20war.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Skirmish</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-outline-secondary btn-lg" id="skirmish">Skirmish</button>
  </div>
</div>

